
<div class="l-row l-space">
    <!-- <div class="l-item-1-1"> -->
      <div class="l-item-1-2">
        <img class="c-author__img" src="/public/img/authors/{{ profile.image }}"alt="">
      </div>
      <div class="l-item-1-2">
        <div class="c-author__profile">
          <h2 class="c-author__name"> {{ profile.name }}</h2>
          <p> {{ profile.about }}</p>
          <a class="c-author__articles" href="/posts-by-author/{{ profile.id }}">Všetky posty</a>

          <div class="c-tags__container c-tags-author">

            {{#each allTags}}
              <a class="c-tags__tag" href="/tags/{{ this }}">{{this}}</a>
            {{/each}}

          </div>

        </div>
      </div>
    <!-- </div> -->


</div>
