<div class="l-row-2">
  <div class="c-post">

    <img class=" c-post__img" src="/{{ blog.img }}" alt="">
    <header class=c-post__header>
      <h2 class="c-post__title">{{ blog.title }} </h2>
      <h3 class="c-post__published"><a href="/authors/{{blog.authorId}}">{{blog.author}}</a> {{ blog.published }}</h3>
      <div class="c-post__tags">

        {{#each blog.tags}}
          <a class="c-tags__tag tag-postList" href="/tags/{{tag}}">{{tag}}</a>
        {{/each}}
      </div>
    </header>

    <div class="c-post__text">
      {{#each blog.body}}
        {{# if h }}
          <h4 class="c-post__subtitle">{{h}}</h4>
        {{ else }}
          <p class="c-text__para">{{p}}</p>
        {{/if}}
      {{/each}}
    </div>

  </div>
</div>
