<div class="l-row c-post">
    <img class="c-post__img"src="{{img}}" alt="">
    <h2 class="c-post__title">{{ blog.title }} </h2>
    <h3 class="c-post__pusblished">{{ blog.published }}</h3>
    <div class="c-tags">
      {{#each blog.tags}}
        <span class="c-tags__tag">{{tag}}</span>
      {{/each}}
    </div>
    <div class="c-text__body">
      {{#each blog.body}}
        <p class="c-text__para">{{p}}</p>
      {{/each}}
    </div>
</div>
