<div class="l-row">
  <div class="c-post">
    <header class=c-post__header>
      <h2 class="c-post__title">{{ blog.title }} </h2>
      <h3 class="c-post__pusblished">{{ blog.published }}</h3>
      <div class="c-tags">
        {{#each blog.tags}}
          <a class="c-tags__tag" href="/tags/{{tag}}">{{tag}}</a>
        {{/each}}
     <img class="c-post__img" src="/{{ blog.img }}" alt="">
    </header>
    <div class="c-text__body">
      {{#each blog.body}}
        {{# if h }}
          <h4 class="c-post__subtitle">{{h}}</h4>
        {{ else }}
          <p class="c-text__para">{{p}}</p>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
