
<div class="l-row">

  {{#each posts}}
  <div class="l-item-1-2 c-post">
    <div class="c-post__container">
      <img class="c-post__img" src="{{thumb}}" alt="">
      <div class="c-post__text">
        <a href="/post/{{id}}">
          <h3 class="c-post__title">{{ title }}</h3>
        </a>
        <h4 class="c-post__publication">{{ published }}</h4>
        <div class="c-tags">
          {{#each tags}}
            <span class="c-tags__tag"><a href="/tags/{{tag}}">{{tag}}</a></span>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}

</div>
